* {
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y proximity;
}

body {
  background-color: #141414;
  overflow: hidden;
}
  
#image-track {
  z-index: 2;
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  user-select: none;
}
  
.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 50% center;
  cursor: pointer;
}

.fullscreen {
  z-index: 3;
  gap: 4vmin;
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(0%,-50%);
  animation: Transition 1.2s ease;
}

@keyframes Transition {
  from {
    left: var(--start-x);
    top: 50%;
    width: 40vmin;
    height: 56vmin;
  }
  to {
    left: 0%;
    top: 50%;
    width: 100vw;
    height: 100vh;
  }
}

.reverseFullscreen {
  animation: ReverseTransition 1.2s ease forwards;
}

@keyframes ReverseTransition {
  from {
    left: 0%;
    top: 50%;
    width: 100vw;
    height: 100vh;
  }
  to {
    left: var(--start-x);
    top: 50%;
    width: 40vmin;
    height: 56vmin;
  }
}

h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%,50%);
  z-index: 3;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 7rem;
  font-family: Lucida Console, Monospace;
  user-select: none;
  white-space: nowrap;
}

section {
  z-index: 1;
  height: 100vmin;
  width: 100vw;
  background-color: aqua;
  scroll-snap-align: start;
  user-select: none;
}
section:nth-child(1){
  opacity: 0;
}
section:nth-child(odd){
  background-color: red;
}

.button {
  z-index: 4;
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translate(-50%,-50%);
  user-select: none;
  opacity: 95%;
  width: 5vmin;
  mix-blend-mode: difference;
}

.slideDown {
  animation: slideDown 2s forwards;
}
.slideUp {
  animation: slideUp 2s forwards;
}

@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 70px;
  }
}
@keyframes slideUp {
  from {
    top: 70px;
  }
  to {
    top: -100px;
  }
}