* {
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y proximity;
}

body {
  background-color: #141414;
  overflow: hidden;
}
  
#image-track {
  z-index: 2;
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  user-select: none;
}

.image {
  width: 34vmin;
  height: 50vmin;
  object-fit: cover;
  object-position: 50% center;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 0 3rem;
}

.fullscreen {
  z-index: 3;
  gap: 4vmin;
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(0%,-50%);
  animation: Transition 1.2s ease;
}

@keyframes Transition {
  from {
    left: var(--start-x);
    top: 50%;
    width: 34vmin;
    height: 50vmin;
  }
  to {
    left: 0%;
    top: 50%;
    width: 100vw;
    height: 100vh;
  }
}

.reverseFullscreen {animation: ReverseTransition 1.2s ease forwards;}

@keyframes ReverseTransition {
  from {
    left: 0%;
    top: 50%;
    width: 100vw;
    height: 100vh;
  }
  to {
    left: var(--start-x);
    top: 50%;
    width: 34vmin;
    height: 50vmin ;
  }
}

h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,50%);
  width: 100vw;
  z-index: 3;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 100px;
  font-family: Lucida Console, Monospace;
  user-select: none;

}

section {
  z-index: 1;
  min-height: 100vh;
  width: 100vw;
  background-color: aqua;
  scroll-snap-align: start;
  user-select: none;
}

section:nth-child(1){opacity: 0;}
section:nth-child(odd){background-color: red;}

.button {
  z-index: 4;
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translate(-50%,-50%);
  user-select: none;
  opacity: 95%;
  width: 5vw;
  mix-blend-mode: difference;
}

.slideDown {animation: slideDown 1.8s forwards;}
.slideUp {animation: slideUp 1.8s forwards;}

@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 100px;
  }
}
@keyframes slideUp {
  from {
    top: 100px;
  }
  to {
    top: -100px;
  }
}

#navbar {
  background-color: #333;
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 0;
  left: 50%;
  min-width: 25vw;
  height: 65px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 999;
  border-radius: 0 0 30px 30px;
}

.icon {
  padding: 14px 20px;
  cursor: pointer;
  width: 40px;
  height: 50px;
  color: #b3b3b3;
  transition: color 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 14px;
  opacity: 0;
  user-select: none;
  transition: opacity 0.2s ease, transform 0.3s ease;
  text-align: center;
  font-family: Lucida Console, Monospace;
}

.icon:hover {
  color: white;
  transform: translateY(-10px);
}

.icon:hover .text {
  opacity: 1;
  transform: translateY(20px);
}

@media screen and (max-width: 768px) {
  #navbar {
      border-radius: 0;
  }

  #navbar > div {
      padding: 3vw 4vw;
      width: 6.2vw;
  }

  .text {
      font-size: 3vw;
  }

  h1 {
      font-size: 7vw;
      margin-top: 7vw;
  }
}
